---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="RIMAS - Rumah Instan Modular Indonesia Emas">
	<h1 style="text-align:center; padding: 3rem; font-family: sans-serif;">
		Selamat datang di RIMAS! <br />
		<small style="font-weight:normal;"
			>Mulai membangun halaman utama...</small
		>
	</h1>
</Layout>
